body{
  background-color: crimson;
  background: url("background.jpg") repeat 0 0;
  background-size: cover;
 }

.container {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 10px;
    padding: 20px;
    justify-content: center;   
  }

.link{
    margin-top: 5px;
    margin-bottom: 0px;
    text-align: center;
    text-decoration: none;
}

a:link {
text-decoration: none;

}
a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

 